:root {
  --purple-color: #433686;
  --dark-purple-color: #240842;
  --more-dark-purple-color: #1c0633;
  --white-color: #ececec;
  --orange-color: #fec066;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--purple-color);
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-purple-color);
  color: var(--white-color);
}

nav h2 {
  margin-left: 6%;
  color: var(--orange-color);
}

nav ul {
  display: flex;
  margin-right: 6%;
}
nav li {
  list-style: none;
  align-self: center;
}

nav a {

  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--white-color);
}

  /* Hamburger button */

.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: absolute;
  position: fixed;
  z-index: 2;
  right: 15px;
  top: 13px;
  color: white;
}

  /* Hamburger button */



.hero {
  color: var(--white-color);
  text-align: center;
}

.hero-image {
  margin-top: 2%;
}
.hero-image img {
  width: 22%;
  margin: auto;
}

.hero-title {
  margin-top: -2%;
  font-size: 20px;
  text-transform: uppercase;
}

.hero-title--color {
  color: var(--orange-color);
}

.hero-title h1 {
  text-shadow: 1px 0px 3px var(--dark-purple-color);
}

.experience-title {
  margin-top: 5%;
  margin-left: 5%;
  text-transform: uppercase;
  color: var(--orange-color);
  text-shadow: 1px 0px 3px var(--dark-purple-color);
}

.experience {
  width: 100%;
}

.experience-cards {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
}

.card {
  margin: 1%;
  border: 0px solid white;
  border-radius: 18px;
  width: 33%;
  background-color: white;
  padding: 0 0 1% 0;
  min-width: 400px;
  box-shadow: 0px 16px 66px -20px rgba(0,0,0,1);
}

.card-image img{
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0px 52px 49px -38px rgba(0,0,0,1);
}

.card-content--front {
  position: relative;
  margin: -10% 10% 5% 10%;
  border: 0px solid none;
  color: black;
  background-color: white;
  padding: 1% 7% 1% 7%;
}

.card-content--front p {
  text-align: left;
}

.card-button a {
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
  border-radius: 8px;
  padding: 3%;
  text-decoration: none;
}

.card-button a:hover {
  background-color: #43368631;
}

.contact {
  margin-top: 3%;
  width: 100%;
  text-align: center;
  background-color: var(--dark-purple-color);

}

.contact-title {
  padding-top: 1%;
  text-transform: uppercase;
  color: var(--orange-color);
  text-shadow: 1px 0px 3px var(--dark-purple-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input--email {
  width: 200px;
  border: none;
  border-radius: 8px;
  padding: 1%;
  margin-bottom: 8px;
}

.contact-input--button {
  border: 1px solid var(--purple-color);
  color: var(--white-color);
  background-color: #43368631;
  border-radius: 8px;
  padding: 1%;
  width: 120px;
  text-decoration: none;
}

.contact-input--button:hover {
  background-color: #2f255e31;
}


.contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-social--item {
  margin: 10px;
}

.contact-social--item:nth-of-type(1) img {
  width:60px;
}

.contact-social--item:nth-of-type(2) img {
  width:50px;
}

.contact-social--item:nth-of-type(3)  img{
  width:65px;
}

.contact-social--item:nth-of-type(4) img {
  width:50px;
}

.contact-social--item:hover {
  cursor: pointer;
}


footer {
  background-color:var(--more-dark-purple-color);
  height: auto;
  margin: 0;
}

footer p {
  margin: 0;
  padding: 2%;
  color: var(--white-color);
}

@media screen and (max-width: 400px) {
  

  /* Hamburger button */
  .burger-button{ /*Arriba el display está como none */
    display: block;   
}
  .menu{
    position: fixed;
    background-color: rgba(37, 1, 71, 0.781);
    z-index: 3;
    top: 0;
    left: -120vw;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

  .menu.is-active{
    left: 0;
    padding: 0;
}
  /* Hamburger button */


  .card {
    min-width: 300px;
  }

}