:root {
  --purple-color: #433686;
  --dark-purple-color: #240842;
  --more-dark-purple-color: #1c0633;
  --white-color: #ececec;
  --orange-color: #fec066;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--purple-color);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-purple-color);
  color: var(--white-color);
}

nav img {
  margin-left: 3%;
  width: 8%;
}

nav ul {
  display: flex;
  margin-right: 3%;
}

nav ul li {
  padding-right: 3%;
  list-style: none;
}

.hero {
  color: var(--white-color);
  text-align: center;
}

.hero-image {
  margin-top: 2%;
}
.hero-image img {
  width: 22%;
  margin: auto;
}

.hero-title {
  margin-top: -2%;
  font-size: 20px;
  text-transform: uppercase;
}

.hero-title--color {
  color: var(--orange-color);
}

.hero-title h1 {
  text-shadow: 1px 0px 3px var(--dark-purple-color);
}

.experience-title {
  margin-top: 5%;
  margin-left: 5%;
  text-transform: uppercase;
  color: var(--orange-color);
  text-shadow: 1px 0px 3px var(--dark-purple-color);
}

.experience {
  width: 100%;
}

.experience-cards {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
}

.card {
  margin: 1%;
  border: 0px solid white;
  border-radius: 18px;
  width: 33%;
  background-color: white;
  padding: 0 0 1% 0;
  min-width: 400px;
  box-shadow: 0px 16px 66px -20px rgba(0,0,0,1);
}

.card-image img{
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0px 52px 49px -38px rgba(0,0,0,1);
}

.card-content--front {
  position: relative;
  margin: -10% 10% 5% 10%;
  border: 0px solid none;
  color: black;
  background-color: white;
  padding: 1% 7% 1% 7%;
}

.card-content--front p {
  text-align: left;
}

.card-button a {
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
  border-radius: 8px;
  padding: 3%;
  text-decoration: none;
}

.card-button a:hover {
  background-color: #43368631;
}

.contact {
  margin-top: 3%;
  width: 100%;
  text-align: center;
  background-color: var(--dark-purple-color);
}

.contact-title {
  padding-top: 1%;
  text-transform: uppercase;
  color: var(--orange-color);
  text-shadow: 1px 0px 3px var(--dark-purple-color);
}

footer {
  background-color:var(--more-dark-purple-color);
  height: auto;
}